server:
  port: 8080

spring:
  application:
    name: gateway

  cloud:
    gateway:
      routes:
        - id: auth-service
          uri: http://localhost:8081
          predicates:
            - Path=/auth/**
          filters:
            - StripPrefix=0

jwt:
  secret-key: YourSuperLongAndSecureSecretKeyMustBeAtLeast256BitsLong
