logging:
  level:
    org.springframework.cloud.gateway: TRACE
    org.springframework.http.server.reactive: DEBUG
    org.springframework.web.reactive: DEBUG
    reactor.netty: DEBUG

server:
  port: 8080

spring:
  application:
    name: road-freight-gateway

  cloud:
    gateway:
      server:
        webflux:
          httpclient:
            wiretap: true
          httpserver:
            wiretap: true
          routes:
            - id: auth-service-route
              uri: lb://road-freight-auth
              predicates:
                - Path=/api/auth/**
                - Method=POST
              filters:
                - RewritePath=/api/auth/(?<segment>.*), /auth/$\{segment}

    consul:
      host: localhost
      port: 8500
      discovery:
        service-name: ${spring.application.name}
        prefer-ip-address: true
        health-check-path: /actuator/health
        health-check-interval: 10s

management:
  endpoints:
    web:
      exposure:
        include: health
  endpoint:
    health:
      show-details: always

jwt:
  secret-key: YourSuperLongAndSecureSecretKeyMustBeAtLeast256BitsLong
