server:
  port: 8082

spring:
  application:
    name: road-freight-job

  datasource:
    url: jdbc:postgresql://localhost:5432/road_freight_db
    username: user
    password: password
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: none
    show-sql: true

jwt:
  secret-key: YourSuperLongAndSecureSecretKeyMustBeAtLeast256BitsLong
  expiration-ms: 3600000