server:
  port: 8082

spring:
  application:
    name: road-freight-job

  datasource:
    url: jdbc:postgresql://localhost:5432/road_freight_db
    username: user
    password: password
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: none
    show-sql: true

  rabbitmq:
    host: localhost
    port: 5672
    username: user
    password: password

  cloud:
    consul:
      host: localhost
      port: 8500
      discovery:
        enabled: true
        service-name: ${spring.application.name}
        prefer-ip-address: true
        health-check-path: /actuator/health
        health-check-interval: 10s

management:
  endpoints:
    web:
      exposure:
        include: health
  endpoint:
    health:
      show-details: always

jwt:
  secret-key: YourSuperLongAndSecureSecretKeyMustBeAtLeast256BitsLong
  expiration-ms: 3600000