apiVersion: 1

datasources:
  - name: Prometheus
    type: prometheus
    uid: prometheus
    access: proxy
    url: http://prometheus:9090
    editable: true
    isDefault: true

  - name: Tempo
    type: tempo
    uid: tempo
    access: proxy
    url: http://tempo:3200
    jsonData:
      # Link traces to logs
      nodeGraph:
        enabled: true
      lokiSearch:
        datasourceUid: loki

  - name: Loki
    type: loki
    access: proxy
    url: http://loki:3100
    editable: true
    jsonData:
      # Link logs to traces automatically if "traceID" is in the log line
      derivedFields:
          - datasourceUid: tempo
            matcherRegex: "traceId=(\\w+)"
            name: TraceID
            url: "$${__value.raw}"
