server:
  http_listen_port: 3200

distributor:
  receivers:
    otlp:
      protocols:
        grpc:
          endpoint: 0.0.0.0:4317
        http:
          endpoint: 0.0.0.0:4318

storage:
  trace:
    backend: local
    local:
      path: /tmp/tempo/traces

# This is needed to link metrics and traces
metrics_generator:
  storage:
    path: /tmp/tempo/generator
  processor:
    service_graphs:
      wait: 10s
    span_metrics:
      wait: 10s

ingester:
  trace_idle_period: 10s